
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar1 {
    background: linear-gradient(to bottom,blue, lightblue);
    display: flex;
}

#navbar1 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar2 {
    background: linear-gradient(to bottom,blue, lightblue);
    display: flex;
}

#navbar2 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
