* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#main-section {
    background: 
    radial-gradient(at top left, #d86fee, #8122ed);
    padding: 48px;
}

.comparisons-container {
    text-align: left;
    margin: 60px 0px;
}

.comparisons-container h3 {
    font-size: 36px;
}

.comparisons-layout-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.comparisons-layout-3 div {
    padding: 12px;
    font-size: 24px;
    border-bottom: 3px solid #3f0791;
}

.comparisons-layout-3 .label {
    font-weight: bold;
}

.text-container a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #3f0791;
    color: white;
    padding: 12px 36px;
    border-radius: 36px;
}

