#palette-1-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#palette-1-color-1 {
    background-color: green;
    color: lightgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}

#palette-color-2 {
    ;
    color: 4E8098;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}

#palette-color-3 {
    background-color: black;
    color: lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serifS;
    text-align: center;
    padding: 24px;
}





