* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero {
    background-image: url(../images/variety\ of\ foods.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 

#navbar {
    background: linear-gradient(to bottom, #231F20,#64672c );
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar img {
    width: 150px;
    
}

#navbar #logo {
    margin-right: auto;
    background-color: #2e2424;
    padding: 5px;
}


#two-columns {
    background-color: #64672c;
    width: 800px;
    margin: 72px auto;
    font-size: 12px;
    height: 180vh;
    padding: 72px;
}

#two-columns .cta-button {
    color: white;
    background-color: rgb(59, 50, 8);
    
}

#two-columns img {
    width: 200px;
}

#header {
    position: sticky;
    top: 0px;
}

#navbar-bottom {
    background: linear-gradient(to bottom, #231F20,#64672c );
    display: flex;
    justify-content: space-between;
}

#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 24px 48px;
}

#footer {
    background: linear-gradient(to bottom, #231F20,#64672c);
    color: white;
    padding: 48px;
}

#footer-columns-navbar {
    width: 800px;
    margin: 0px right;
    padding: 36px 0px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;

    padding: 12px;
    border: 10px solid #333333;
}

.basic-grid-gallery img {
    width: 100%;
}

.basic-grid-gallery a {
    background-color: #2c0303;
    color: rgb(255, 255, 255);
    text-align: center;
}

